---
import Layout from "../layouts/Layout.astro";

// icons
import { MdKeyboardArrowRight } from "react-icons/md";
import { AiFillStar } from "react-icons/ai";
import { HiOutlineDocument } from "react-icons/hi2";
import { TfiWorld } from "react-icons/tfi";
import { RiGroupLine } from "react-icons/ri";
import { CiCalendar } from "react-icons/ci";
import { ImBarcode } from "react-icons/im";
import { MdOutlinePhonelinkRing } from "react-icons/md";
import { FiUser } from "react-icons/fi";

// utils
import { CoverBookImg } from "../utils/getSvgIcons";

const bookTitle = "A moedinha que virou tesouro";
const authorName = "Nome Do autor";

const reviews = [
    { id: '', rate: 5, createdAt: new Date().toISOString(), owner: 'José Silva Santos', value: 'Lorem ipsum dolor sit amet consectetur. Curabitur mollis sed venenatis aliquet. At auctor cras ullamcorper augue mauris. Sagittis nibh velit porta interdum integer condimentum pellentesque.'},
    { id: '', rate: 5, createdAt: new Date().toISOString(), owner: 'José Silva Santos', value: 'Lorem ipsum dolor sit amet consectetur. Curabitur mollis sed venenatis aliquet. At auctor cras ullamcorper augue mauris. Sagittis nibh velit porta interdum integer condimentum pellentesque.'},
    { id: '', rate: 5, createdAt: new Date().toISOString(), owner: 'José Silva Santos', value: 'Lorem ipsum dolor sit amet consectetur. Curabitur mollis sed venenatis aliquet. At auctor cras ullamcorper augue mauris. Sagittis nibh velit porta interdum integer condimentum pellentesque.'},
    { id: '', rate: 5, createdAt: new Date().toISOString(), owner: 'José Silva Santos', value: 'Lorem ipsum dolor sit amet consectetur. Curabitur mollis sed venenatis aliquet. At auctor cras ullamcorper augue mauris. Sagittis nibh velit porta interdum integer condimentum pellentesque.'},
]

const formatISODate = (isoDate: string) => {
  const date = new Date(isoDate);

  const day = String(date.getDate()).padStart(2, '0');
  const month = String(date.getMonth() + 1).padStart(2, '0');
  const year = date.getFullYear();

  return `${day}/${month}/${year}`;
}
---

<Layout title="Livro">
    <div class="py-3 px-5 sm:px-7 md:px-14 md:py-3 xl:py-6 xl:px-14 h-full">
        <div class="w-full block">
            <div
                class="flex items-center justify-start gap-1 2xl:gap-2 text-[10px] sm:text-[12px] md:text-[14px] 2xl:text-[16px]">
                <a href="/" class="text-[#969696] hover:underline">Home</a>
                <div>
                    <MdKeyboardArrowRight color="#969696" size={20} />
                </div>
                <a href="/livros" class="text-[#969696] hover:underline">Livros</a>
                <div>
                    <MdKeyboardArrowRight color="#000" size={20} />
                </div>
                <div>{bookTitle}</div>
            </div>
        </div>
        <div class="bg-white rounded-xl p-3 mt-3 2xl:mt-6">
            <div class="flex flex-row justify-center items-start md:justify-start">
                <div>
                    <CoverBookImg
                        className="h-fit w-inherit max-w-[100px] sm:w-[180px] md:w-[210px] lg:w-[250px] sm:max-w-none 2xl:max-w-none 2xl:h-[368px] 2xl:w-[266px]" />
                </div>
                <div class="flex flex-col h-full items-baseline justify-start mt-3">
                    <div class="block w-full">
                        <div class="flex items-center justify-start">
                            {
                            Array.from({ length: 5 }).map(() => (
                            <div>
                                <AiFillStar color="#FBB914" size={20} />
                            </div>
                            ))
                            }
                        </div>
                    </div>
                    <div class="font-medium text-[12px] sm:text-[14px] md:text-[20px] lg:text-[25px] 2xl:text-[30px]">
                        {bookTitle}
                    </div>
                    <div class="mt-2 text-[#D76B2A] text-[14px] md:text-[16px] 2xl:text-[20px] font-normal">
                        {authorName}
                    </div>
                    <div
                        class="text-[#CFDA29] text-[24px] sm:text-[27px] md:text-[35px] lg:text-[38px] 2xl:text-[40px] font-semibold">
                        R$00,00
                    </div>
                    <div class="hidden sm:flex 2xl:flex flex-row items-center gap-3 mt-6">
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <HiOutlineDocument size={30} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[10px] text-[#9A9A9A] leading-[18px]">
                                        Páginas<br />
                                        <span class="font-medium 2xl:text-[14px] leading-0 text-black">000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <TfiWorld size={25} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[10px] text-[#9A9A9A] leading-[18px]">
                                        Idioma<br />
                                        <span class="font-medium 2xl:text-[14px] leading-0 text-black">Português</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <RiGroupLine size={25} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[10px] text-[#9A9A9A] leading-[18px]">
                                        Idade indicada<br />
                                        <span class="font-medium 2xl:text-[14px] leading-0 text-black">Livre</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <CiCalendar size={30} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[10px] text-[#9A9A9A] leading-[18px]">
                                        Ano de publicação<br />
                                        <span class="font-medium 2xl:text-[14px] leading-0 text-black">2024</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden sm:flex 2xl:flex flex-row items-center gap-6 mt-3">
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <ImBarcode size={25} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[10px] text-[#9A9A9A] leading-[18px]">
                                        Código ISBN<br />
                                        <span
                                            class="font-medium 2xl:text-[14px] leading-0 text-black">000-0-00-000000-0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <MdOutlinePhonelinkRing size={25} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[10px] text-[#9A9A9A] leading-[18px]">
                                        Formato<br />
                                        <span class="font-medium 2xl:text-[14px] leading-0 text-black">Ebook</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1 md:mt-3 2xl:mt-6 block w-full">
                        <div class="flex flex-col sm:flex-row 2xl:flex-row items-start">
                            <div>
                                <button
                                    class="bg-[#CFDA29] rounded-full py-1 px-3 md:py-2 md:px-12 2xl:py-2 2xl:px-12 text-white font-semibold hover:opacity-70 text-[10px] sm:text-[12px] md:text-[14px] 2xl:text-[16px]">Adicionar
                                    carrinho</button>
                            </div>
                            <div class="ml-0 mt-2 sm:mt-0 sm:ml-2 2xl:mt-0 2xl:ml-3">
                                <button
                                    class="bg-[#EE8A21] rounded-full py-1 px-3 md:py-2 md:px-12 2xl:py-2 2xl:px-12 text-white font-semibold hover:opacity-70 text-[10px] sm:text-[12px] md:text-[14px] 2xl:text-[16px]">Comprar
                                    agora</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full mt-3 sm:hidden">
                <div class="flex flex-col items-center gap-2 mt-6">
                    <div class="flex flex-row w-full items-center gap-2">
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <HiOutlineDocument size={25} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[8px] text-[#9A9A9A] leading-[12px]">
                                        Páginas<br />
                                        <span
                                            class="font-medium text-[10px] md:text-[12px] 2xl:text-[14px] leading-0 text-black">000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <TfiWorld size={20} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[8px] text-[#9A9A9A] leading-[12px]">
                                        Idioma<br />
                                        <span
                                            class="font-medium text-[10px] md:text-[12px] 2xl:text-[14px] leading-0 text-black">Português</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row w-full items-center gap-2">
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <RiGroupLine size={20} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[8px] text-[#9A9A9A] leading-[12px]">
                                        Idade indicada<br />
                                        <span
                                            class="font-medium text-[10px] md:text-[12px] 2xl:text-[14px] leading-0 text-black">Livre</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="flex flex-row gap-2">
                                <div class="flex items-center">
                                    <CiCalendar size={25} color="#FBB914" />
                                </div>
                                <div class="flex flex-col justify-start">
                                    <div class="text-[8px] text-[#9A9A9A] leading-[12px]">
                                        Ano de publicação<br />
                                        <span
                                            class="font-medium text-[10px] md:text-[12px] 2xl:text-[14px] leading-0 text-black">2024</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-6">
                    <div class="block">
                        <div class="flex flex-row gap-2">
                            <div class="flex items-center">
                                <ImBarcode size={20} color="#FBB914" />
                            </div>
                            <div class="flex flex-col justify-start">
                                <div class="text-[8px] text-[#9A9A9A] leading-[12px]">
                                    Código ISBN<br />
                                    <span
                                        class="font-medium text-[10px] md:text-[12px] 2xl:text-[14px] leading-0 text-black">000-0-00-000000-0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="flex flex-row gap-2">
                            <div class="flex items-center">
                                <MdOutlinePhonelinkRing size={20} color="#FBB914" />
                            </div>
                            <div class="flex flex-col justify-start">
                                <div class="text-[8px] text-[#9A9A9A] leading-[12px]">
                                    Formato<br />
                                    <span
                                        class="font-medium text-[10px] md:text-[12px] 2xl:text-[14px] leading-0 text-black">Ebook</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6 border border-[#CFDA29] rounded-xl p-3">
                <div class="flex flex-col">
                    <div class="text-[#DDCC13] text-[14px] md:text-[16px] 2xl:text-[18px] font-medium">Sinopse</div>
                </div>
                <div class="mt-2 sm:mt-3 2xl:mt-3">
                    <p class="p-0 m-0 text-start text-[12px] md:text-[14px] 2xl:text-[16px]">
                        Lorem ipsum dolor sit amet consectetur. Curabitur mollis sed venenatis aliquet. At auctor cras ullamcorper augue mauris. Sagittis nibh velit porta interdum integer condimentum pellentesque. Pulvinar sit urna arcu in. Et orci arcu felis eget eget ut eros ullamcorper molestie. Sed netus sit gravida cursus pulvinar dui eros netus. Felis turpis ornare tincidunt eget. Sapien sit accumsan massa ut molestie ut aliquam. Auctor magna a ullamcorper elementum dignissim id venenatis pellentesque nulla.<br/><br/>
                        At feugiat leo maecenas mus eget nisl mauris velit. Tincidunt nunc id faucibus volutpat imperdiet. At sit erat fermentum velit ornare. Tortor semper convallis quisque ultricies orci. Elementum in in arcu nulla tristique vulputate ut. Vitae sed quam a arcu donec in est. Non aenean in parturient turpis. Gravida nulla pellentesque feugiat platea sodales dictum suspendisse. Vulputate odio feugiat quis ac.
                    </p>
                </div>
                <div class="text-[#DDCC13] text-[14px] md:text-[16px] 2xl:text-[18px] font-medium mt-2 sm:mt-3 2xl:mt-3">Especificações do Produto</div>
                <div class="flex flex-col justify-center mt-2 sm:mt-3 2xl:mt-3">
                    <div class="flex justify-between w-full text-[12px] md:text-[14px] 2xl:text-[16px]">
                        <div class="list-item font-semibold ml-5">Autor(a)</div>
                        <div class="font-normal  text-[#636363] text-end">Nome do Autor</div>
                    </div>
                    <div class="flex justify-between w-full text-[12px] md:text-[14px] 2xl:text-[16px]">
                        <div class="list-item font-semibold ml-5">Gênero</div>
                        <div class="font-normal  text-[#636363] text-end">Literatura e Ficção</div>
                    </div>
                    <div class="flex justify-between w-full text-[12px] md:text-[14px] 2xl:text-[16px]">
                        <div class="list-item font-semibold ml-5">Editora</div>
                        <div class="font-normal  text-[#636363] text-end">Editora 1234569</div>
                    </div>
                    <div class="flex justify-between w-full text-[12px] md:text-[14px] 2xl:text-[16px]">
                        <div class="list-item font-semibold ml-5">Páginas</div>
                        <div class="font-normal  text-[#636363] text-end">272</div>
                    </div>
                    <div class="flex justify-between w-full text-[12px] md:text-[14px] 2xl:text-[16px]">
                        <div class="list-item font-semibold ml-5">Ano</div>
                        <div class="font-normal  text-[#636363] text-end">2017</div>
                    </div>
                    <div class="flex justify-between w-full text-[12px] md:text-[14px] 2xl:text-[16px]">
                        <div class="list-item font-semibold ml-5">Edição</div>
                        <div class="font-normal  text-[#636363] text-end">1ª</div>
                    </div>
                    <div class="flex justify-between w-full text-[12px] md:text-[14px] 2xl:text-[16px]">
                        <div class="list-item font-semibold ml-5">Idioma</div>
                        <div class="font-normal  text-[#636363] text-end">Português</div>
                    </div>
                    <div class="flex justify-between w-full text-[12px] md:text-[14px] 2xl:text-[16px]">
                        <div class="list-item font-semibold ml-5">ISBN</div>
                        <div class="font-normal  text-[#636363] text-end">9788580417494</div>
                    </div>
                    <div class="flex justify-between w-full text-[12px] md:text-[14px] 2xl:text-[16px]">
                        <div class="list-item font-semibold ml-5">Idade indicada</div>
                        <div class="font-normal  text-[#636363] text-end">Livre</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-3 bg-[#FBB914] px-5 sm:px-7 md:px-14 xl:px-14 h-full">
        <div class="text-white text-[25px] text-center md:text-start md:text-[30px] 2xl:text-[35px] font-medium">Avaliações</div>
        <div class="flex flex-col gap-3 mt-2 sm:mt-3 2xl:mt-3">
            {reviews.map(review => <div class="border border-black rounded-xl p-3 block">
                <div class="flex justify-between flex-col md:flex-row 2xl:flex-row items-center">
                    <div class="flex flex-row">
                        <div class="p-3 rounded-full bg-white"><FiUser color="#CFDA29" size={45}/></div>
                        <div class="flex flex-col ml-3">
                            <div class="flex-row flex items-center">{Array.from({ length: review.rate }).map(() => (<div><AiFillStar color="#D76B2A" size={20} /></div>))}</div>
                            <div class="text-white text-[12px] md:text-[14px] 2xl:text-[16px]">{formatISODate(review.createdAt)}</div>
                            <div class="font-semibold text-[12px] md:text-[14px] 2xl:text-[16px]">{review.owner}</div>
                        </div>
                    </div>
                    <div class="flex-1 text-start md:text-end text-[12px] md:text-[14px] 2xl:text-[16px] mt-6 md:mt-0">"{review.value}”</div>
                </div>
            </div>)}
        </div>
    </div>
</Layout>
